
header {
  background-color: rgb(16,0,230);
  background-image: url(images/bg-header-02.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  background-color: rgba(192,192,192,0.3);
  padding: 3em;
  text-align: center;
  color: white;
}

.header-content h1 {
  font-size: 4em;
  font-family: sans-serif;
  font-family: 'Proza Libre';
}

.header-content p {
  font-size: 1.5em;
  font-family: sans-serif;
  font-family: 'Quicksand';
}



#bio {
  text-align: center;
  background-color: rgb(240, 240, 240);
}

#bio h1{
  font-size: 3em;
  font-family: sans-serif;
  padding: 2em;
  font-family: 'Proza Libre';
  color: #FFA07A
}

#bio p{
  font-size: 1em;
  font-family: sans-serif;
  padding: 2em;
  font-family: 'Fira Sans';
  line-height: 20px;
}


.comp-content  img {
  width:200px;
  height:200px;
  padding: 3em;
  }

#comp{
  text-align: center;
  background-color: rgb(240, 240, 240);
}

#comp h1{
  font-size: 3em;
  font-family: sans-serif;
  padding: 2em;
  font-family: 'Proza Libre';
  color: #FFA07A
}

#comp h2{
  font-size: 2em;
  font-family: sans-serif;
  padding: 1em;
  font-family: 'Quicksand';
  color: #A52A2A
}

#comp p{
  font-size: 1em;
  font-family: sans-serif;
  padding: 2em;
  font-family: 'Fira Sans';
  line-height: 20px;
}

.comp-section-content {
  display: flex;
}

.left-menu {
  background-color: #FFA07A;
  height: 40em;
}

.middle-menu {
  background-color:	#BC8F8F;
  height: 40em;
}

.right-menu {
  background-color: #FFA07A;
  height: 40em;
}

#portfolio{
  text-align: center;
  background-color: rgb(240, 240, 240);
}

#portfolio h1{
  font-size: 3em;
  font-family: sans-serif;
  padding: 2em;
  font-family: 'Proza Libre';
  color: #FFA07A
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.portfolio-content {
max-width: 320px;
margin :1em;
}

.portfolio-content h2{
  font-size: 1em;
  font-family: sans-serif;
  font-family: 'Quicksand';
  padding: 2em;
  color: #A52A2A
}

.portfolio-content img {
  width: 100%;
/*  width:420px;
  height:594px; */
}

footer{
  background-color: rgb(240, 240, 240);
}

.address{
  font-size: 1em;
  font-family: sans-serif;
  padding: 2em;
  font-family: 'Fira Sans';
  text-align: center;
  color: #FFA07A;
}

.social-links{
  font-size: 1em;
  font-family: sans-serif;
  font-family: 'Fira Sans';
  text-align: center;
  color: #FFA07A;
  }
